<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a href="http://localhost/swagger-ui.html#/">数据接口</a></h1>
<h1>这是毛俊贤的毕业设计</h1>
<h2>付款程度  0:在购物车 1：已购买 2：退回 3：已发货 4：待发货</h2>
<h2 style="color: red">商品</h2>
<h3><a href="http://www.zhangdanling.cnhttp://www.zhangdanling.cnhttp://www.zhangdanling.cn/shop/shopById?id=1">查看指定商品</a></h3>
<h3><a href="http://www.zhangdanling.cn/shop/search">查询所有商品</a></h3>
<h3><a href="http://www.zhangdanling.cn/shop/search?title=鞋女">查询商品通过商品标题</a></h3>
<h3><a href="http://www.zhangdanling.cn/shop/search?hot=1">优选商品</a></h3>
<h3><a href="http://www.zhangdanling.cn/activity/list">活动显示</a></h3>
<h3><a href="http://www.zhangdanling.cn/activity/list?id=1">单个活动显示</a></h3>
<h2 style="color: red">用户</h2>
<h3><a href="http://www.zhangdanling.cn/user/register?username=adsf&password=123">用户注册 or 用户修改(修改加个id字段)</a></h3>
<h3><a href="http://www.zhangdanling.cn/user/validPassword">用户密码验证(id：用户的id， password：用户的密码)</a></h3>
<h3><a href="http://www.zhangdanling.cn/user/delete?id=7">用户删除</a></h3>
<h3><a href="http://www.zhangdanling.cn/user/login?username=1234&password=1234">用户登陆</a></h3>
<h2 style="color: red">购物车</h2>
<h3><a href="http://www.zhangdanling.cn/trolley/list?userid=1&buy=0">查看用户购物车（请传入用户id,   buy：付款程度 0购物车，1购买，2退回）</a></h3>
<h3><a href="http://www.zhangdanling.cn/trolley/add?shoppingid=1&userid=1&labelId=1">添加购物车（shoppingid:商品id， userid:用户id， labelId：标签id）</a></h3>
<h3><a href="http://www.zhangdanling.cn/trolley/add?shoppingid=1&userid=1&labelId=1&buy=1">从商品详情进行购买（shoppingid:商品id， userid:用户id， labelId：标签id,  buy:标识1）</a></h3>
<h3><a href="http://www.zhangdanling.cn/trolley/delete?id=27">删除购物车商品（请传入购物车的id）</a></h3>
<h3><a href="http://www.zhangdanling.cn/trolley/buy?ids=10">购买购物车商品（请传入购物车的id, 以字符串的形式传多个购物车id，例：var ids = "1,2,3" ）</a></h3>
<h3><a href="http://www.zhangdanling.cn/trolley/list?userid=1&buy=1">查看用户已购买商品（请传 userid：用户id ， buy：付款程度  0:在购物车 1：已购买 2：退回 3：已发货 4：待发货）</a></h3>
<h3><a href="http://www.zhangdanling.cn/trolley/list?userid=1&buy=2">查看用户退回商品（请传 userid：用户id ， buy：付款程度  0:在购物车 1：已购买 2：退回 3：已发货 4：待发货）</a></h3>
<h2 style="color: red">用户主页</h2>
<h3><a href="http://www.zhangdanling.cn/user/userInfo?id=74">查看用户主页信息(id：用户的id)</a></h3>
<h3><a href="http://www.zhangdanling.cn/user/updateImage">修改用户头像或背景(id：用户的id)(imageHead：用户头像字段，imageBackground：用户背景字段 二选一)(file：上传的图片字段)</a></h3>
<h2 style="color: red">收获地址</h2>
<h3><a href="http://www.zhangdanling.cn/address/list">查看用户的收货地址通过用户id(userId：用户的id) URL：http://www.zhangdanling.cn/address/list</a></h3>
<h3><a href="http://www.zhangdanling.cn/address/delete">用户删除收货地址通过收货地址id(ids：用户的id  例 ids="1,2,3" 多个id以字符串的形式发送) URL：http://www.zhangdanling.cn/address/delete</a></h3>
<h3><a href="http://www.zhangdanling.cn/address/save">用户新增或者修改收货地址，新增不发送收货地址id、修改发送地址id (userId：用户的id，address：用户的收货地址，phone：手机号码， name：收货人)URL：http://www.zhangdanling.cn/address/save</a></h3>
<h3><a href="http://www.zhangdanling.cnhttp://www.zhangdanling.cn/address/oneAddress">查看用户的一条收货地址(id：收货地址的id)</a></h3>
<img src="http://192.168.8.122/traffic_index/public/static/upload/disaster/images/20180331/20180331104256L.png" alt="">

</body>
</html>