<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>这是毛俊贤的毕业设计</h1>
<h3><a href="http://192.168.6.102/shop/shopById?id=1">查看指定商品</a></h3>
<h3><a href="http://192.168.6.102/shop/search">查询所有商品</a></h3>
<h3><a href="http://192.168.6.102/shop/search?title=鞋女">查询商品通过商品标题</a></h3>
<h3><a href="http://192.168.6.102/activity/list">活动显示</a></h3>
<h3><a href="http://192.168.6.102/activity/list?id=1">单个活动显示</a></h3>
<img src="http://192.168.6.122/traffic_index/public/static/upload/disaster/images/20180331/20180331104256L.png" alt="">
</body>
</html>