<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>这是毛俊贤的毕业设计</h1>
<h2>付款程度  0:在购物车 1：已购买 2：退回 3：已发货 4：待发货</h2>
<h3><a href="http://192.168.6.102/shop/shopById?id=1">查看指定商品</a></h3>
<h3><a href="http://192.168.6.102/shop/search">查询所有商品</a></h3>
<h3><a href="http://192.168.6.102/shop/search?title=鞋女">查询商品通过商品标题</a></h3>
<h3><a href="http://192.168.6.102/shop/search?hot=1">优选商品</a></h3>
<h3><a href="http://192.168.6.102/activity/list">活动显示</a></h3>
<h3><a href="http://192.168.6.102/activity/list?id=1">单个活动显示</a></h3>
<h3><a href="http://192.168.6.102/user/register?username=adsf&password=123">用户注册 or 用户修改(修改加个id字段)</a></h3>
<h3><a href="http://192.168.6.102/user/delete?id=7">用户删除</a></h3>
<h3><a href="http://192.168.6.102/user/login?username=adsf&password=123">用户登陆</a></h3>
<h3><a href="http://192.168.6.102/trolley/list?userid=1&buy=0">查看用户购物车（请传入用户id,   buy：付款程度 0购物车，1购买，2退回）</a></h3>
<h3><a href="http://192.168.6.102/trolley/add?shoppingid=1&userid=1&labelId=1">添加购物车（shoppingid:商品id， userid:用户id， labelId：标签id）</a></h3>
<h3><a href="http://192.168.6.102/trolley/add?shoppingid=1&userid=1&labelId=1&buy=1">从商品详情进行购买（shoppingid:商品id， userid:用户id， labelId：标签id,  buy:标识1）</a></h3>
<h3><a href="http://192.168.6.102/trolley/delete?id=27">删除购物车商品（请传入购物车的id）</a></h3>
<h3><a href="http://192.168.6.102/trolley/buy?ids=10">购买购物车商品（请传入购物车的id, 以字符串的形式传多个购物车id，例：var ids = "1,2,3" ）</a></h3>
<h3><a href="http://192.168.6.102/trolley/list?userid=1&buy=1">查看用户已购买商品（请传 userid：用户id ， buy：付款程度  0:在购物车 1：已购买 2：退回 3：已发货 4：待发货）</a></h3>
<h3><a href="http://192.168.6.102/trolley/list?userid=1&buy=2">查看用户退回商品（请传 userid：用户id ， buy：付款程度  0:在购物车 1：已购买 2：退回 3：已发货 4：待发货）</a></h3>
<h3><a href="http://192.168.6.102/user/userInfo">查看用户主页信息</a></h3>
<img src="http://192.168.6.122/traffic_index/public/static/upload/disaster/images/20180331/20180331104256L.png" alt="">

</body>
</html>